.TopBar {
    background-color: #A79277;
    height: 10vh;
    width: 100%;
}


.BodyContent {
    background-color: white;
    height: 85vh;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.Footer {
    background-color: #fffdda;
    height: 5vh;
    width: 100%;
}

/*Titulo*/
.Tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 10px;
}

.TittleInner {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.TittleText {
    font-size: 24px;
    font-weight: bold;
    background-color: #fffdda;
}

/* carrousel*/


.carousel-container {
    margin: auto;
    
    /* Centrar horizontalmente */
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* Bordes curvos */
    background-color: #D1BB9E;
    /* Fondo rosa */
    height: 430px;
    /* Altura fija del fondo rosa */
    width: 1050px;
    margin-top: 0;
    /* Eliminar margen superior */
    margin-bottom: 20px 20px 20px 20px;
    /* Espacio entre el carrusel y el siguiente contenido */}


.carousel {
    max-width: 100%;
    /* Ancho máximo del carrusel */
    height: 100%;
    /* Altura máxima del carrusel */
    border-radius: 20px;
    /* Bordes curvos */
}

.carousel img {
    padding-top: 20px;
    max-width: 1000px;
    /* Tamaño máximo de las imágenes */
    height: auto;
    margin: auto;
    /* Centrar las imágenes horizontalmente */
    object-fit: cover;
    /* Escalar las imágenes manteniendo la proporción y recortando si es necesario */
    object-position: center;
    border-radius: 20px 20px 20px 20px;
    /* Centrar las imágenes verticalmente */
}

/* Tarjetas */

.container {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 5px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    margin-bottom: 15px;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    color: #f74780;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #f74780;
    border-radius: 4px;
}


/*menu*/

nav {

    z-index: 1000;

}

nav ul {
    list-style-type: none;
    /* Elimina los marcadores de lista */
    padding: 0;
}

nav ul li {
    margin-bottom: 20px;
    /* Espacio entre elementos del menú */
}

nav ul li a {
    color: black;
    /* Color del texto */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    font-weight: bold;
    /* Texto en negrita */
}

/*footer*/

.footer{
    background-color: #f74780;
}




